.statistics {
  width: 300px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 50px;
}

.title {
  padding: 20px 0;
  color: grey;
  text-align: center;
  margin: 0;
}

.statList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 10px 0px;
}

.label {
  color: white;
}
.percentage {
  color: white;
  font-size: larger;
  font-weight: 600;
}
